### Student Information
Name: 謝芝瑜

Student ID: 111065503

GitHub ID: Judy-Hsieh

---

### Instructions

1. First: do the **take home** exercises in the [DM2022-Lab1-Master](https://github.com/keziatamus/DM2022-Lab1-Master). You may need to copy some cells from the Lab notebook to this notebook. __This part is worth 20% of your grade.__


2. Second: follow the same process from the [DM2022-Lab1-Master](https://github.com/keziatamus/DM2022-Lab1-Master) on **the new dataset**. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 30% of your grade.__
    - Download the [the new dataset](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The dataset contains a `sentence` and `score` label. Read the specificiations of the dataset for details. 
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 30% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency). Refer to this Sciki-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Comment on the differences.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be habdled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 10% of your grade.__


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/keziatamus/DM2022-Lab1-Homework/blob/main/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb). Make sure to commit and save your changes to your repository __BEFORE the deadline (October 20th 11:59 pm, Thursday)__.

In [168]:
### Begin Assignment Here

# First:
(at **DM2022-Lab1-Master** repo)

# Second:
below

## 2. Data Preparation
This dataset was created for the Paper 'From Group to Individual Labels using Deep Features', Kotzias et. al,. KDD 2015
Please cite the paper if you want to use it :)

It contains sentences labelled with positive or negative sentiment.

=======Format:=======
sentence score



=======Details:=======
Score is either 1 (for positive) or 0 (for negative)
The sentences come from three different websites/fields:

imdb.com
amazon.com
yelp.com

For each website, there exist 500 positive and 500 negative sentences. Those were selected randomly for larger datasets of reviews.
We attempted to select sentences that have a clearly positive or negative connotaton, the goal was for no neutral sentences to be selected.

In [169]:
# TEST necessary for when working with external scripts
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [170]:
# read file save into list type
with open('./sentiment labelled sentences/amazon_cells_labelled.txt', encoding="utf-8") as f:
    data_set_1 =[line for line in f.readlines()]
with open('./sentiment labelled sentences/imdb_labelled.txt', encoding="utf-8") as f2:
    data_set_2 =[line for line in f2.readlines()]
with open('./sentiment labelled sentences/yelp_labelled.txt', encoding="utf-8") as f3:
    data_set_3 =[line for line in f3.readlines()]

In [171]:
data_set_1[0:2]

['So there is no way for me to plug it in here in the US unless I go by a converter.\t0\n',
 'Good case, Excellent value.\t1\n']

In [172]:
# check lenght
len(data_set_1)

1000

In [173]:
len(data_set_2)

1000

In [174]:
len(data_set_3)

1000

In [175]:
data_set_1[:10]

['So there is no way for me to plug it in here in the US unless I go by a converter.\t0\n',
 'Good case, Excellent value.\t1\n',
 'Great for the jawbone.\t1\n',
 'Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!\t0\n',
 'The mic is great.\t1\n',
 'I have to jiggle the plug to get it to line up right to get decent volume.\t0\n',
 'If you have several dozen or several hundred contacts, then imagine the fun of sending each of them one by one.\t0\n',
 'If you are Razr owner...you must have this!\t1\n',
 'Needless to say, I wasted my money.\t0\n',
 'What a waste of money and time!.\t0\n']

## 3. Data Transformation
### 3.1 Converting Dictionary into Pandas Dataframe

In [176]:
import pandas as pd
import helpers.data_mining_helpers as dmh
# strip 特殊字元 \n and \t 
sentence1, score1 = dmh.format_rows(data_set_1)
sentence2, score2 = dmh.format_rows(data_set_2)
sentence3, score3 = dmh.format_rows(data_set_3)
# 將 list 轉成 dataframe
df1 = pd.DataFrame({'sentence':sentence1})
df1['score'] = score1
df2 = pd.DataFrame({'sentence':sentence2})
df2['score'] = score2
df3 = pd.DataFrame({'sentence':sentence3})
df3['score'] = score3

#### Adding Columns

In [177]:
# 新增一個 column，儲存資料來自哪一個網站
df1['website'] = 'amazon'
df2['website'] = 'imdb'
df3['website'] = 'yelp'

In [178]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(1000, 3)
(1000, 3)
(1000, 3)

In [179]:
df1

                                              sentence score website
0    So there is no way for me to plug it in here i...     0  amazon
1                          Good case, Excellent value.     1  amazon
2                               Great for the jawbone.     1  amazon
3    Tied to charger for conversations lasting more...     0  amazon
4                                    The mic is great.     1  amazon
..                                                 ...   ...     ...
995  The screen does get smudged easily because it ...     0  amazon
996  What a piece of junk.. I lose more calls on th...     0  amazon
997                       Item Does Not Match Picture.     0  amazon
998  The only thing that disappoint me is the infra...     0  amazon
999  You can not answer calls with the unit, never ...     0  amazon

[1000 rows x 3 columns]

In [180]:
# 將 dataframe 合併起來
df = pd.concat([df1, df2, df3], ignore_index=True)
df

                                               sentence score website
0     So there is no way for me to plug it in here i...     0  amazon
1                           Good case, Excellent value.     1  amazon
2                                Great for the jawbone.     1  amazon
3     Tied to charger for conversations lasting more...     0  amazon
4                                     The mic is great.     1  amazon
...                                                 ...   ...     ...
2995  I think food should have flavor and texture an...     0    yelp
2996                           Appetite instantly gone.     0    yelp
2997  Overall I was not impressed and would not go b...     0    yelp
2998  The whole experience was underwhelming, and I ...     0    yelp
2999  Then, as if I hadn't wasted enough of my life ...     0    yelp

[3000 rows x 3 columns]

In [181]:
df.sentence[0]

'So there is no way for me to plug it in here in the US unless I go by a converter.'

### 3.2 Familiarizing yourself with the Data

In [182]:
df[:10][["sentence","score"]]

                                            sentence score
0  So there is no way for me to plug it in here i...     0
1                        Good case, Excellent value.     1
2                             Great for the jawbone.     1
3  Tied to charger for conversations lasting more...     0
4                                  The mic is great.     1
5  I have to jiggle the plug to get it to line up...     0
6  If you have several dozen or several hundred c...     0
7        If you are Razr owner...you must have this!     1
8                Needless to say, I wasted my money.     0
9                   What a waste of money and time!.     0

In [183]:
# get last 10 data
df[-10:]

                                               sentence score website
2990  The refried beans that came with my meal were ...     0    yelp
2991         Spend your money and time some place else.     0    yelp
2992  A lady at the table next to us found a live gr...     0    yelp
2993            the presentation of the food was awful.     0    yelp
2994           I can't tell you how disappointed I was.     0    yelp
2995  I think food should have flavor and texture an...     0    yelp
2996                           Appetite instantly gone.     0    yelp
2997  Overall I was not impressed and would not go b...     0    yelp
2998  The whole experience was underwhelming, and I ...     0    yelp
2999  Then, as if I hadn't wasted enough of my life ...     0    yelp

In [184]:
# using loc (by label)
# retrieve first 10 rows of clo = 'sentence'
df.loc[:10, 'sentence']

0     So there is no way for me to plug it in here i...
1                           Good case, Excellent value.
2                                Great for the jawbone.
3     Tied to charger for conversations lasting more...
4                                     The mic is great.
5     I have to jiggle the plug to get it to line up...
6     If you have several dozen or several hundred c...
7           If you are Razr owner...you must have this!
8                   Needless to say, I wasted my money.
9                      What a waste of money and time!.
10                      And the sound quality is great.
Name: sentence, dtype: object

In [185]:
# using iloc (by position)
# 'sentence' column is in array[0]
df.iloc[:10, 0]

0    So there is no way for me to plug it in here i...
1                          Good case, Excellent value.
2                               Great for the jawbone.
3    Tied to charger for conversations lasting more...
4                                    The mic is great.
5    I have to jiggle the plug to get it to line up...
6    If you have several dozen or several hundred c...
7          If you are Razr owner...you must have this!
8                  Needless to say, I wasted my money.
9                     What a waste of money and time!.
Name: sentence, dtype: object

In [186]:
# 取得來自 amazon 網站的資料
# 每10筆取一個. 僅顯示前五筆
df[df['website'] == 'amazon'].iloc[::10][0:5]

                                             sentence score website
0   So there is no way for me to plug it in here i...     0  amazon
10                    And the sound quality is great.     1  amazon
20  I went on Motorola's website and followed all ...     0  amazon
30  This is a simple little phone to use, but the ...     0  amazon
40  It has a great camera thats 2MP, and the pics ...     1  amazon

## 4. Data Mining using Pandas
### 4.1 Missing Values

In [187]:
# check missing values
df.isnull()

      sentence  score  website
0        False  False    False
1        False  False    False
2        False  False    False
3        False  False    False
4        False  False    False
...        ...    ...      ...
2995     False  False    False
2996     False  False    False
2997     False  False    False
2998     False  False    False
2999     False  False    False

[3000 rows x 3 columns]

In [188]:
# 使用 dmh 中的函式，以 col 為單位，計算 null值 總數量
df.isnull().apply(lambda x: dmh.check_missing_values(x))

,sentence,score,website
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,0

In [189]:
# 以 row 為單位，計算 null值 總數量
df.isnull().apply(lambda x: dmh.check_missing_values(x), axis=1)

0       (The amoung of missing records is: , 0)
1       (The amoung of missing records is: , 0)
2       (The amoung of missing records is: , 0)
3       (The amoung of missing records is: , 0)
4       (The amoung of missing records is: , 0)
                         ...
2995    (The amoung of missing records is: , 0)
2996    (The amoung of missing records is: , 0)
2997    (The amoung of missing records is: , 0)
2998    (The amoung of missing records is: , 0)
2999    (The amoung of missing records is: , 0)
Length: 3000, dtype: object

In [190]:
# 產生一個假資料，缺少了 'company' 這一個 attribute值
dummy_series = pd.Series(["This is a dummy_record of comments", 1], index=["sentence", "score"])

In [191]:
dummy_series

sentence    This is a dummy_record of comments
score                                        1
dtype: object

In [192]:
# 轉換成 dataframe
# .to_frame() -> Convert Series to DataFrame
# .T          -> Transpose
dummy_series.to_frame().T

                             sentence score
0  This is a dummy_record of comments     1

In [193]:
# 把假資料，加到我們的 df 中(加在最後一筆)
df = pd.concat([df, dummy_series.to_frame().T], ignore_index=True)

In [194]:
# 檢查長度，發現有多一筆，代表假資料成功加進來
len(df)

3001

In [195]:
# 同樣的，檢查每一個 col 中的 null 值總數
df.isnull().apply(lambda x: dmh.check_missing_values(x))

,sentence,score,website
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,1

In [196]:
# 使用另一種方式新增假資料
# in dictionary format
dummy_dict = [{'sentence': 'dummy_record222',
               'score': 1
              }]

In [197]:
df = pd.concat([df, pd.DataFrame(dummy_dict)], ignore_index=True)

In [198]:
len(df)

3002

In [199]:
# 2 筆假資料，(皆缺少了 website 屬性的值)
df.isnull().apply(lambda x: dmh.check_missing_values(x))

,sentence,score,website
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,2

In [200]:
# remove missing value
df.dropna(inplace=True)

In [201]:
# 檢查是否清理乾淨
df.isnull().apply(lambda x: dmh.check_missing_values(x))

,sentence,score,website
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,0

In [202]:
len(df)

3000